body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: yellow;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #222;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    position: sticky;
}

.sidebar h2 {
    margin: 0 0 20px;
    font-size: 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.sidebar ul li.active a {
    background-color: green;
    color: #fff;
    font-weight: bold;
    cursor: default;
}


.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    overflow: auto;
    margin: 0 auto;
    border: solid 5px red;
}
/* Header styles */
.title-area {
    width: 100%;
    background-color: #222;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.site-title {
    margin: 0;
    font-size: 48px;
    font-weight: 100;
    color: #a2834e;
    text-transform: uppercase;
}
.site-title a {
 display: block;
 text-decoration: none;
}

.site-title a:visited {
    color: #a2834e;
}

.site-tagline{
    line-height: 20px;
    margin: 0px;
    font-size: 20px;
    color: #a2834e;
    font-weight: 400;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.styled-hr {
    border: none;
    border-top: 2px solid #a2834e; /* Culoarea și grosimea liniei */
    text-align: center;
    margin: 20px 0; /* Spațiu sus și jos */
    position: relative;
  }
  
  .styled-hr::before {
    content: "∞"; /* Simbolul infinitului */
    font-size: 20px; /* Dimensiunea simbolului */
    color: #a2834e; /* Culoarea simbolului */
    background: #fff; /* Fundal alb (sau schimbă în funcție de fundalul tău) */
    padding: 0 10px; /* Spațiu în jurul simbolului */
    position: absolute;
    top: -10px; /* Ajustează pentru poziționare */
    left: 50%; /* Centrare pe orizontală */
    transform: translateX(-50%);
  }
  
