<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <nav class="sidebar">
            <ul>
                <li class="{{ if eq .RelPermalink "/original-poetry/" }}active{{ end }}">
                    <a href="/original-poetry/">Original Poetry</a>
                </li>
                <li class="{{ if eq .RelPermalink "/translated-poetry/" }}active{{ end }}">
                    <a href="/translated-poetry/">Translated Poetry</a>
                </li>
                <li class="{{ if eq .RelPermalink "/original-prose/" }}active{{ end }}">
                    <a href="/original-prose/">Original Prose</a>
                </li>
                <li class="{{ if eq .RelPermalink "/translated-prose/" }}active{{ end }}">
                    <a href="/translated-prose/">Translated Prose</a>
                </li>
            </ul>
        </nav>
        

        <!-- Main Content -->
        <div class="main-content">
            <header class="title-area">
                <h1 class="site-title"><a href="/">A.M. Juster </a></h1>
                <p class="site-tagline">Poet, Translator, Essayist</p>
            </header>
            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>
            <footer>
                <p>&copy; 2025 Your Poetry Site</p>
            </footer>
        </div>
    </div>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>
</html>
