{{ define "main" }}
  <div class="poetry-container">
    {{ $originalPoetryPages := where .Site.Pages "Section" "original-poetry" }}
    {{ $total := sub (len $originalPoetryPages) 1 }}
    {{ range $index, $page := $originalPoetryPages }}
    {{ if not $page.IsSection }}
      <div class="poem">
        <h2>{{ $page.Title }}</h2>
        <div>{{ $page.Content }}</div>
      </div>

      {{ if ne $index $total }}
      <div class="custom-hr">
        <div class="line"></div>
        <div class="symbol">∞</div>
        <div class="line"></div>
      </div>
      {{ end }}
    {{ end }} 
    {{ end }}
  </div>
{{ end }}
