{{ define "main" }}
<div class="prose-container">
  <a href="/translated-prose" class="back-button">← Back to Prose List</a>

  <h2>{{ .Title }}</h2>

  {{ if .Params.chapters }}
    <div class="chapters">
      {{ range .Params.chapters }}
      <div class="chapter">
        {{ if .excerpt_note }}
        <p class="excerpt-note"><b><em>{{ .excerpt_note }}</em></b></p>
      {{ end }}
        <h3>{{ .chapter_title }}</h3>
        <div>{{ .body | markdownify }}</div>
      </div>
      {{ end }}
    </div>
  {{ else }}
    <p>No chapters available.</p>
  {{ end }}
</div>
{{ end }}
