{{ define "main" }}
<div class="poetry-container">
    {{ $total := sub (len .Pages) 1 }}
    {{ range $index, $page := .Pages }}
      <div class="poem">
        {{ with $page.Params.details }}
        <p class="poem-details">
          {{ . | safeHTML | markdownify }}
        </p>
        {{ end }}
        <h2>{{ $page.Title }}</h2>
        <div>{{ $page.Content }}</div>
      </div>

      {{ if ne $index $total }}
      <div class="custom-hr">
        <div class="line"></div>
        <div class="symbol">∞</div>
        <div class="line"></div>
      </div>
      {{ end }}
    {{ end }}
</div>
{{ end }}
