{{ define "main" }}
<div class="poetry-container">
    {{ $total := sub (len .Pages) 1 }}
    {{ range $index, $page := .Pages }}
      <div class="poem">
        <h2>{{ $page.Title }}</h2>
        <div>{{ $page.Content}}</div>
        {{ with $page.Params.translated_from }}
        <p class="poem-translated">{{ . }}</p>
        {{ end }}
      </div>

      {{ if ne $index $total }}
      <div class="custom-hr">
        <div class="line"></div>
        <div class="symbol">∞</div>
        <div class="line"></div>
      </div>
      {{ end }}
    {{ end }}
</div>
{{ end }}
