{{ define "main" }}
<div class="poetry-container">
  {{ $translatedPoetryPages := where .Site.Pages "Section" "translated-poetry" }}
  {{ $sortedPages := sort $translatedPoetryPages "Params.order" "desc" }}
  {{ $total := sub (len $sortedPages) 1 }}
  {{ range $index, $page := $sortedPages }}
  {{ if not $page.IsSection }}
      <div class="poem">
        {{ with $page.Params.details }}
        <p class="poem-details">
          {{ . | safeHTML | markdownify }}
        </p>
        {{ end }}
        <h2>{{ $page.Title }}</h2>
        <div>{{ $page.Content }}</div>
      </div>

      {{ if ne $index (sub $total 1) }}
      <div class="custom-hr">
        <div class="line"></div>
        <div class="symbol">∞</div>
        <div class="line"></div>
      </div>
      {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}
